In [1]:
import psycopg2
import pandas as pd

In [44]:
conn = psycopg2.connect(
    dbname="startml",
    user="robot-startml-ro",
    password="pheiph0hahj1Vaif",
    host="postgres.lab.karpov.courses",
    port=6432
)

cur = conn.cursor()

In [31]:
df = pd.read_sql(
 """SELECT * FROM "post" LIMIT 10 """,
 con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
 "postgres.lab.karpov.courses:6432/startml"
)

In [32]:
df.head(5)

   id                                               text     topic
0   1  UK economy facing major risks\n\nThe UK manufa...  business
1   2  Aids and climate top Davos agenda\n\nClimate c...  business
2   3  Asian quake hits European shares\n\nShares in ...  business
3   4  India power shares jump on debut\n\nShares in ...  business
4   5  Lacroix label bought by US firm\n\nLuxury good...  business

In [51]:
df = pd.read_sql(
 """select id as post_id, count(action), max(time), text from feed_action join post on post_id = id where action = 'like' group by id, text order by count(action) desc limit 5
 """,
 con=conn
)
df.head(10)

C:\Users\shoma\AppData\Local\Temp\ipykernel_5004\1245129469.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

,post_id,count,max,text
0,4866,31714,2022-01-01 13:57:43,It could have been a morbidly fascinating look...
1,5127,29637,2022-01-05 13:52:17,Ive seen NSNA just after Ive seen all Roger Mo...
2,6448,27939,2022-01-22 05:50:39,"No, Im not joking around. If you ever, EVER, h..."
3,6498,27729,2022-01-22 21:45:11,"As a matter of fact, this is one of those movi..."
4,6513,27686,2022-01-22 19:59:52,Rita Hayworth plays a Brooklyn nightclub dance...